---
title: "Clase 2"
---

In [1]:
print("¡Hola, mundo!")

¡Hola, mundo!